<div class="about">
  <h2>Timber Harvest in Oregon's National Forests</h2>
  <h3>About this site</h3>
  This site is currently under development and it is not ready to use or share. Stay tuned...
   <br><br>
  This project is open source and uses open data.
  <hr>
  <b>This is a work in <a href="https://github.com/jimmyangel/timber-harvest" target="_blank">progress</a>.<br><br>
</div>
