<div class="about">
  <h2>Logging in Oregon <span style="font-size: small;"><b>{{{version}}}</b></span></h2>
  <h3>About this site</h3>
  <p>This site is an interactive map used to visualize logging activities in the state of Oregon. It shows logging records in public lands managed by the US Forest Service (USFS) and the Bureau of Land Management (BLM) as well as clearcutting in private and State lands. A timelapse animation can be used to visualize across all years recorded, as well as within an arbitrary date range. Logged areas can be clicked to retrieve project details.</p>
  <p>A set of basemaps and overlays are available to customize the visualization.</p>
  <h4>Data Sources</h4>
  <ul>
    <li><a href="https://www.blm.gov/or/gis/data-details.php?id=421">BLM OR Harvest Treatments Polygon</a> - United States Department of the Interior, Bureau of Land Management</li><br>
    <li><a href="https://data.fs.usda.gov/geodata/edw/datasets.php?xmlKeyword=Timber+Harvests">Timber Harvests Dataset</a> - United States Department of Agriculture, Forest Service</li><br>
    <li>Unharvested Forest Lands - Derived from Vegetation Stand datasets from individual National Forest offices (not available for every National Forest)</li><br>
    <li>Clearcuts in Federal lands - Obtained from <a href="https://oregonwild.org/">Oregon Wild</a></li><br>
    <li>Forest Loss - Obtained from <a href="https://earthenginepartners.appspot.com/science-2013-global-forest/download_v1.5.html">Global Forest Change 2000–2017</a>, Hansen/UMD/Google/USGS/NASA</li>
  </ul>
  <small><b>Notes about data quality:</b><br>
  <ul>
  <li>Spatial data about logging in federal public lands are separately and independently reported by each National Forest and BLM office. Availability over date ranges varies considerably across offices and there can be significant omissions of logging activity, especially regarding older records. In addition, the most recent logging activities may not be shown (Last Update: {{lastUpdated}}).</li><br>
  <li>Clearcuts in federal lands were documented using a combination of aerial photography assessments and official records and it only covers the 1960-2005 time period. There might be underrepresentation of clearcutting in several areas, whereas a few might show incorrectly as clearcuts (Last Update: 2005)</li><br>
  <li>Logging activities on private and state lands were inventoried using Landsat imagery. The vast majority of the areas detected are due to clearcut logging with a very small component of other forest loss picked up by the satellites (e.g., thinning, agriculture, and fire) (Last Update: 2017).</li>
  </ul>
  </small>
  <p>This project is <a href="https://github.com/jimmyangel/timber-harvest">open source</a> and uses open data.</p>
  <hr>
  <br>
  <div>
    <div style="display: inline-block;"><a href="https://oregonhowl.org/"><img src="../images/howlmoonblack.svg" style="height: 50px"></a></div>
    <div style="display: inline-block; position: relative; bottom: 10px;">This is a <a href="https://morinricardo.com/">volunteer</a> project made for <a href="http://oregonwild.org/">Oregon Wild</a>.<br></div>
  </div>
  <br>
</div>
