<div class="dropdown" style="text-align: left">
  <button class="dropbtn howl-control">Explore <i class="fa fa fa-caret-down"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a class="explore-item" href="#">State-wide</a>
    <a class="explore-item" data-item-id="fed" href="#">Federal public lands</a>
    <a class="explore-item" data-item-id="private" href="#">Private, state, and tribal lands</a>
  </div>
</div>
