<div class="dropdown" style="text-align: left">
  <button class="dropbtn howl-control">Explore <i class="fa fa fa-caret-down"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">State-wide</a>
    <a href="#">Federal public lands</a>
    <a href="#">Private, state, and tribal lands</a>
  </div>
</div>
