<h4>Willamette NF Timber Harvest Records</h4><hr>
<div style="padding-left: 2px; padding-right: 2px;">
  <div style="margin: 0 auto; max-width: 400px; text-align: center;">
    Range<br>
    <span id="fromLabel"> </span> <input type="range" multiple min="1900" max="2018" value="1900,2018" class="fromToYear" /> <span id="toLabel"></span><br>
    <span id="tipToClick">Click on a shape to view details</span>
  </div>
</div>
<hr>
<div id="infoContent"></div>
