<div style="text-align: center">
  <h4>Logging in Oregon</h4>
  <hr>
  <h3 style="text-decoration: underline; text-shadow: 2px 2px 0px rgba(0,0,0,0.2);">Explore:</h3>
  <div class="legend-entry" style="text-align: left; margin-left: 4px;">
    <ul class="v-legend-items">
      <li class="v-legend-item-sel explore-item" style="color: #0078A8;" data-item-id="fed">&nbsp;&nbsp;Federal public lands</li>
      <li class="v-legend-item-sel explore-item" style="color: #0078A8;" data-item-id="private">&nbsp;&nbsp;Private, state, and tribal lands</li>
    </ul>
  </div>
  <div style="text-align: center;  margin-top: 10px;" class="legend-explanation">(Click an item above to view details)</div>
  <div class="legend-title">
    <hr>
    <small>
      Clearcuts in federal public lands<br>
      documented by <a href="http://oregonwild.org/">Oregon Wild</a> using aerial<br>
      photography and logging records.<br>
      Clearcuts in private, state, and tribal<br>
      lands inventoried using
      <a href="https://earthenginepartners.appspot.com/science-2013-global-forest/download_v1.5.html">Landsat imagery</a><br> from 2001 to 2017.<br>
      <br>
    </small>
    <div class="legend-scale">
      <ul class="legend-items">
        <li><span class="legend-item" style='background: {{alternateLoggingColor}};'></span>Clearcut</li>
      </ul>
    </div>
  </div>
  <hr>
  <div style="text-align: center; margin-bottom: 10px;" class="legend-title">Layer Opacity (<span id="topOpacityLabel">70</span>%)</div>
  <div style="width: 85%; margin: 0 auto;" id="topOpacitySlider" class="fly wrap"></div>
  <div style="text-align: center;  margin-top: 10px;" class="legend-explanation">Move the slider to adjust opacity</div>
  <hr>
</div>
