<div>
  <br><br>
  <h1>Logging in Oregon</h1>
  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
  <br><br>
  <div>
    <label class="checkbox-inline"><input type="checkbox" id="welcome-optout"><i>Do not show this again</i></label>
  </div>
  <div style="text-align: right;"><small>Image credit: M.O. Stevens</small></div>
</div>
