<div>
  <br><br>
  <h1>Logging in Oregon</h1>
  <h2>Explore and learn about logging in federal, state, and private lands with an interactive map that uses data extracted from government records and gleaned from satellite imagery and aerial photography.</h2>
  <br><br>
  <div>
    <label><input type="checkbox" id="welcome-optout"><i>Do not show this again</i></label>
  </div>
  <div style="text-align: right;"><small>Image: M.O. Stevens</small></div>
</div>
