@import "~leaflet/dist/leaflet.css";
@import "~leaflet-fullscreen/dist/leaflet.fullscreen.css";
@import "~multirange/multirange.css";
@import "~leaflet-modal/dist/leaflet.modal.css";
@import "~nprogress/nprogress.css";

html, body {
  height: 100%;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.info {
  padding: 6px 8px;
  max-width: 400px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: auto;
}

.info h4 {
  margin: 0 0 5px;
}

.about {
  font: 14px/16px Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .info {
    max-width: 230px;
  }
}

#overlay {
  background: #ffffff;
  color: #666666;
  opacity: 0.4;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
}

input[type="range"].multirange.ghost {
  --range-color: gray;
}

.spinnerContainer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Animation widget styling */

.playback-controls {
  /* margin: 0 auto; */
}

.playback-controls div {
  margin: auto;
  padding: 0;
  list-style: none;
}

.playback-controls div div {
  display: inline-block;
  margin: auto;
  padding: 0;
  list-style: none;
}

.howl-control {
	/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
	border-radius: 10px;
  z-index: 1000;
}

.howl-control a {
  opacity: 0.8;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
  border-radius: 4px;
}

.howl-control a:hover {
	background-color: #f4f4f4;
}

.howl-control a img {
  width: 16px;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.3; }
}

/* Legend styling */

.legend-box {
  border: 1px solid black;
  overflow: hidden;
}

.legend-title {
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 90%;
}

.legend-entry {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 90%;
}

.legend-subtitle {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 80%;
}

.legend-explanation {
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 80%;
  /*text-align: left;*/
}

.legend-scale {
  margin: 0 auto;
}

.legend-scale ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.legend-scale ul li {
  display: inline-block;
  margin-right: -4px;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

ul.legend-items li span {
  display: inline-block;
  height: 15px;
  width: 50px;
  opacity:0.8;
}

.hidden-legend-item {
  height: 12px;
  width: 20px;
  display: none;
}

.legend-item {
  height: 12px;
  width: 20px;
  display: inline-block;
}

.overlay-legend-item {
  display: inline-block;
  margin-bottom: -3px;
  height: 14px;
  width: 14px;
}

.v-legend-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.v-legend-items li {
  margin: auto;
  padding: 0;
  list-style: none;
}

.v-legend-item-sel:hover {
  background-color:#E0E0E0;
  cursor: pointer;
}

.toRaLabel {
  text-align: center;
  font-size: 14px;
}

.leaflet-control-layers-toggle {
	 width: 26px;
	 height: 26px;
   background-size: 20px 20px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  width: 26px;
  height: 26px;
  background-size: 20px 20px;
}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 30px;
  height: 30px;
}

*.leaflet-control-layers-selector[disabled] + span {
  color: gray;
}

/*.leaflet-control-layers-selector[disabled] + span {
  display: none;
}

.leaflet-control-layers-selector[disabled] {
  display: none;
}*/
